# environment
python-dotenv>=0.21.0

# database
asyncpg>=0.27.0

# aio-libs
aiohttp>=3.7.4,<4
async_lru>=1.0.3

# discord
discord.py @ git+https://github.com/Rapptz/discord.py.git
jishaku @ git+https://github.com/Gorialis/jishaku.git

# encryption
cryptography>=38.0.4

# utils
chardet
colorthief>=0.2.1
pillow>=9.3.0
psutil>=5.9.4
pygit2>=1.11.1

# speed-up
uvloop; sys_platform != 'win32'

# valorantx
valorantx @ git+https://${X_ACCESS_TOKEN}@github.com/staciax/valorantx.git@${VLX_BRANCH}
valorantx-scraper @ git+https://${X_ACCESS_TOKEN}@github.com/staciax/valorantx-scraper.git@${VLXS_BRANCH}