# database
asyncpg>=0.27.0
python-dotenv>=0.21.0

# aio-libs
aiohttp>=3.7.4,<4
async_lru>=1.0.3

# discord
discord.py=>2.1.0
jishaku=>2.5.1

# encryption
cryptography>=38.0.4

# utils
chardet
colorthief>=0.2.1
pillow>=9.3.0
psutil>=5.9.4
pygit2>=1.11.1
typing_extensions

# unsorted
uvloop; sys_platform != 'win32'

# private
# valorantx
# valorantx-scraper